
<div class="modal fade" id="modal-cover-check" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">功能視窗</h4>
      </div>
      <div class="modal-body">
      	<input type="hidden" id="add-content-id" value="">
        <div class="row">
          <div class="col-md-2"><img src="{{ base_url() }}/img/icon/danger.png" style="width:50px;height:50px;"></div>
          <div class="col-md-7" style="font-size:20px;padding-top:10px;"><strong>系統發現此儲存格擁有舊資料！</strong></div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10" style="font-size:12px;padding-top:10px;color:red;letter-spacing:2px;"><strong>提示: 若要於儲存格中新增/更新資料，請刪除原有資料</strong></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">離開</button>
        <button type="button" class="btn btn-info cover-check-content-list" role="">內容列表</button>
        <button type="button" class="btn btn-primary add-content">附加內容</button>
        <button type="button" class="btn btn-danger cover-check-delete">我要刪除</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
